h2.admin_area {
	margin-top: 50px;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
img.admin_warning {
	display: block;
	margin: auto;
	margin-top: 50px;
}
input.admin_input {
	width: 300px;
	font-size: 24px;
	text-align: center;
	margin: auto;
	margin-bottom: 20px;
}